{% extends "layouts/main.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "/"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-l">Customer forms</h1>

      
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
     Version 2
    </h2>
  </div>
  <div class="govuk-summary-card__content">
  <ul class="govuk-list">
    <li>
      <form action="v2/is-complaint/start" method="post" novalidate>  
        <button class="govuk-link" data-module="govuk-button">
          Complain about the Insolvency Service
        </button>
      </form>
      </li>
      <li>
    <form action="v2/general-enquiry/start" method="post" novalidate>  
        <button class="govuk-link" data-module="govuk-button">
          General enquiries
        </button>
      </form>
      </li>
    <li>
    <form action="v2/company-complaint/start" method="post" novalidate>  
        <button class="govuk-link" data-module="govuk-button">
          Complain about a limited company
        </button>
      </form>
      </li>
      </ul>

      <h2 class="govuk-heading-m">links to pages</h2> 
      <p class="govuk-body"><a href="v2/upload-list-exceeded-file-size" class="govuk-link">Upload list exceeded file size</a></p>
  </div>
</div> 

      
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
     Version 1
    </h2>
  </div>
  <div class="govuk-summary-card__content">
  <ul class="govuk-list">
    <li>
      <form action="v1/general-enquiry/start" method="post">
        <button class="govuk-link" data-module="govuk-button">
          General enquiries   
        </button>
      </form>
</li>
    <li>
    <form action="v1/ip-complaint/start" method="post" novalidate>

        <button class="govuk-link" data-module="govuk-button">
          Complain about an insolvency practitioner
        </button>
      </form>
 </li>
 <li>
      <form action="v1/company-complaint/start" method="post" novalidate>
   
        <button class="govuk-link" data-module="govuk-button">
         Complain about a limited company
        </button>
      </form>
</li>
<li>
      <form action="v1/is-complaint/start" method="post" novalidate>
    
        <button class="govuk-link" data-module="govuk-button">
          Complain about the Insolvency Service
        </button>
      </form>
  </li>
  <li>
      <form action="v1/ies-breach/start" method="post" novalidate>
 
        <button class="govuk-link" data-module="govuk-button">
         Investigations and Enforcement Services Breach Questionnaire 
        </button>
      </form>
</li>
  </div>
</div>   
    </div>
  </div>
{% endblock %}
