{% extends "layouts/main.html" %}

{% set serviceName = 'Insolvency Service' %}

{% block pageTitle %}
{{ serviceName }} – {{ data.contactReason }} - About your complaint
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="reference-number" method="post" novalidate>

  <h1 class="govuk-heading-l">About your enquiry</h1>


<p class="govuk-body">Please provide us with as much information as possible to help us deal with your enquiry. If you are contacting us about a particular case please include the case reference number, if you have it.</p>

{{ govukRadios({
  name: "What is your enquiry about?",
  fieldset: {
    legend: {
      text: "What is your enquiry about?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Making a redundancy claim (CN)",
      text: "Making a redundancy claim (CN)"
    },
    {
      value: "Redundancy payments (LN)",
      text: "Redundancy payments (LN)"
    },
    {
      value: "Debt relief order (DRO)",
      text: "Debt relief order (DRO)  "
    },
    {
      value: "Applying for bankruptcy",
      text: "Applying for bankruptcy"
    }
    ,
    {
      value: "Existing bankruptcy (BKT)",
      text: "Existing bankruptcy (BKT)"
    },
    {
      value: "Discharge from bankruptcy (BKT)",
      text: "Discharge from bankruptcy (BKT)"
    },
    {
      value: "Company liquidation (LQD)",
      text: "Company liquidation (LQD)"
    },
    {
      value: "Payment protection insurance (PPI)",
      text: "Payment protection insurance (PPI)"
    },
    {
      value: "Breathing space (BSS)",
      text: "Breathing space (BSS)"
    },
    {
      value: "General",
      text: "General"
    }
  ]
}) }}


<button class="govuk-button" data-module="govuk-button">
Continue
</button>
      </form>
    </div>
  </div>
{% endblock %}
