{% extends "layouts/main.html" %}

{% set serviceName = 'Insolvency Service' %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – Start
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


  <h1 class="govuk-heading-l">Insolvency practitioner hub</h1>

<p class="govuk-body">You can use this service to complete director conduct reports or upload redundancy payment (RP14/A) forms.</p>

<p class="govuk-body">Access to this service is restricted to Insolvency Practitioners, authorised Agents acting on their behalf, Service Managers and Staff.</p>

<h2 class="govuk-heading-m">Before you start</h2>
<p class="govuk-body">Please ensure that you have a unique e-mail address registered with the Insolvency Service.</p>

{{ govukButton({
  text: "Start now",
  href: "home.html",
  isStartButton: true
}) }}
     
    </div>
  </div>
{% endblock %}
