{% extends "layouts/main-forms.html" %}

{% block pageTitle %}
  {{ serviceName }} – {{ data.contactReason }}
{% endblock %}



{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



    <form action="complaintType" method="post" novalidate>

      <h1 class="govuk-heading-l">Complain about a insolvency practioner</h1>




{{ govukCheckboxes({
  name: "complaint",
  fieldset: {
    legend: {
      text: "What are you complaining about?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Select all options that apply"
  },
  items: [
    {
      value: "unreasonable delays",
      text: "unreasonable delays"
    },
    {
      value: "you have made mistakes when handling my case",
      text: "you have made mistakes when handling my case"
    },
    {
      value: "a member of staff has acted inappropriately",
      text: "a member of staff has acted inappropriately"
    },
    {
      value: "you did not respond to your correspondence within your published targets",
      text: "you did not respond to your correspondence within your published targets"
    },
    {
      value: "you provided misleading or incorrect information",
      text: "you provided misleading or incorrect information"
    },
    {
      divider: "or"
    },
    {
      value: "my complaint is not listed",
      text: "my complaint is not listed",
      behaviour: "exclusive"
    }
  ]
}) }}


        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
 </div>

 
{% endblock %}
