{% extends "layouts/main-forms.html" %}

{% block pageTitle %}
  {{ serviceName }} – {{ data.contactReason }}
{% endblock %}



{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



    <form action="complaintType" method="post" novalidate>

      <h1 class="govuk-heading-l">Complain about a insolvency practioner</h1>




{{ govukCheckboxes({
  name: "complaint",
  fieldset: {
    legend: {
      text: "What are you complaining about?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Select all options that apply"
  },
  items: [
    {
      value: "failure to meet professional standards",
      text: "failure to meet professional standards",
      hint: {
        text: "for example, actions contrary to Statements of Insolvency Practice, Code of Ethics"
      }
    },
    {
      value: "failure to meet ethical standards",
      text: "failure to meet ethical standards",
      hint: {
        text: "for example, conflicts of interest"
      }
    },
    {
      value: "dissatisfaction with customer service",
      text: "dissatisfaction with customer service",
      hint: {
        text: "for example, a breakdown in communication with the insolvency practitioner"
      }
    },
    {
      divider: "or"
    },
    {
      value: "my complaint is not listed",
      text: "my complaint is not listed",
      behaviour: "exclusive",
      hint: {
        text: "For example, you want to complain about the Insolvency service or a disqualified director."
      }
    }
  ]
}) }}


        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
 </div>

 
{% endblock %}
