{% extends "layouts/main-forms.html" %}

{% block pageTitle %}
{{ serviceName }} – {{ data.contactReason }} - About your complaint
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-l">Your complaint is not about an insolvency practitioner</h1>

<h2 class="govuk-heading-m">Other types of complaints</h2> 
{% include "customer-forms/v2/Includes/is-complaint-details-reveal.html" %}
{% include "customer-forms/v2/Includes/ip-complaint-details-reveal.html" %}
{% include "customer-forms/v2/Includes/ies-breach-details-reveal.html" %}
<h2 class="govuk-heading-m">For anything else use</h2> 
{% include "customer-forms/v2/Includes/general-enquiry-details-reveal.html" %}
    </div>
  </div>
{% endblock %}
