{% extends "layouts/main-forms.html" %}

{% set serviceName = 'Insolvency Service' %}

{% block pageTitle %}
{{ serviceName }} – Complaint submitted
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
{% call govukPanel({
  titleText: "Complaint submitted"
}) %}
  Your reference number<br>
  <strong>HDJ2123F</strong>
{% endcall %}

    <h2 class="govuk-heading-m">What happens next</h2>
     <p class="govuk-body">
      We aim to reply to your complaint by email within 10 working days.</p>

<p class="govuk-body">
  A copy of your complaint has been sent to the email address you provided on the form.
</p>

<p class="govuk-body">
  If you have not already tried to resolve your complaint informally with the person you’ve been dealing with or their manager, we may refer your form to the appropriate business area to be dealt with outside of the complaints process.
</p>

<p class="govuk-body">
  Further details of our <a href="https://www.gov.uk/government/organisations/insolvency-service/about/complaints-procedure" class="govuk-link">complaints procedure</a> can be found on GOV.UK.
</p> 
  </div>
</div>
{% endblock %}
