{% extends "layouts/main-forms.html" %}

{% set serviceName = 'Insolvency Service' %}

{% block pageTitle %}
{{ serviceName }} – Complaint submitted
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
{% call govukPanel({
  titleText: "Complaint submitted"
}) %}
  Your reference number<br>
  <strong>HDJ2123F</strong>
{% endcall %}

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">
  A copy of your complaint has been sent to the email address you provided on the form.
</p>

    <h3 class="govuk-heading-s">How long we take to reply</h3>
     <p class="govuk-body">
In line with our <a href="https://www.gov.uk/guidance/the-insolvency-service-customer-charter">customer charter</a>, we aim to respond to routine written correspondence within 15 working days of when we receive it. This includes complaints we are dealing with informally.</p>

<p class="govuk-body">
We aim to reply to 90% of formal complaints within 10 working days. If this is not possible, we’ll write to you within 5 working days to tell you why and when you can expect a full reply. We aim to fully reply to 95% of these complaints within 20 working days
</p>

<h3 class="govuk-heading-s">Your complaint</h3>

<p class="govuk-body">
  If you have not already tried to resolve your complaint informally with the person you’ve been dealing with or their manager, we may refer your form to the appropriate business area to be dealt with outside of the complaints process.
</p>

<p class="govuk-body">
  Further details of our <a href="https://www.gov.uk/government/organisations/insolvency-service/about/complaints-procedure" class="govuk-link">complaints procedure</a> can be found on GOV.UK.
</p> 
  </div>
</div>
{% endblock %}
