{% extends "layouts/main-forms.html" %}

{% block pageTitle %}
  {{ serviceName }} – {{ data.contactReason }}
{% endblock %}



{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



    <form action="complaintType" method="post" novalidate>

      <h1 class="govuk-heading-l">{{ data.contactReason }}</h1>


<p class="govuk-body">
  Use this form to make a complaint if you think we have failed to meet our service standards.
</p>



<!--<p class="govuk-body">
Before submitting your complaint, read our <a href="https://www.gov.uk/government/organisations/insolvency-service/about/complaints-procedure">complaints guidance</a>. This explains how the process works and what you can expect from us. 
</p> -->




{{ govukCheckboxes({
  name: "complaint",
  fieldset: {
    legend: {
      text: "What are you complaining about?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Select all options that apply"
  },
  items: [
    {
      value: "you experienced unreasonable delays",
      text: "you experienced unreasonable delays"
    },
    {
      value: "we made mistakes with your case",
      text: "we made mistakes with your case"
    },
    {
      value: "we did not follow our policies or processes",
      text: "we did not follow our policies or processes"
    },
    {
      value: "a member of our staff has not acted appropriately",
      text: "a member of our staff has not acted appropriately"
    },
    {
      value: "we have not responded to correspondence within our published targets",
      text: "we have not responded to correspondence within our published targets"
    },
    {
      value: "we have given you misleading or incorrect information",
      text: "we have given you misleading or incorrect information"
    },
    {
      divider: "or"
    },
    {
      value: "my complaint is not listed",
      text: "my complaint is not listed",
      behaviour: "exclusive",
      hint: {
        text: "For example, you want to complain about an insolvency practitioner or a disqualified director."
      }
    }
  ]
}) }}


        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
 </div>

 
{% endblock %}
