{% extends "layouts/main-forms.html" %}

{% block pageTitle %}
{{ serviceName }} – {{ data.contactReason }} - About your complaint
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-l">Your complaint is not about the insolvency Service</h1>

  {{ govukInsetText({
  text: "Awaiting content for this section"
}) }}
<!--
<p class="govuk-body">
You might want to complain to us about:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>a bankrupt person or a director of a company in liquidation, administration or administrative receivership, a director or sole trader reusing the name (or a similar name) of a company in liquidation or a disqualified director, you can do this by completing the <a href="">Investigations and Enforcement Services Breach form.</a></li>
  <li>an active or dissolved limited company, you can do this be completing the <a href="https://www.gov.uk/complain-company">complain about a company' form.</a></li>
  <li>an insolvency practitioner for example a trustee, liquidator, administrator or supervisor of an Individual Voluntary Arrangement (IVA), you can do this by filling in the <a href="https://www.gov.uk/complain-about-insolvency-practitioner">complain about an Insolvency Practitioner form.</a></li>
</ul>

<p class="govuk-body">

We have further information to help you find the <a href="">right place to direct your complaint to.</a>
</p>

-->

    </div>
  </div>
{% endblock %}
