{% extends "layouts/main.html" %}

{% set serviceName = 'Insolvency Service' %}

{% block pageTitle %}
{{ serviceName }} – {{ data.contactReason }} - Your details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="where-does-the-insolvency-practitioner-your-complaining-about-work" method="post" novalidate>
<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="practioner-name">
     Who do you wish to complain about? 
    </label>
  </h1>
  <div id="practitioner-name-hint" class="govuk-hint">
   The name of the Insolvency Practitioner you wish to complain about.

  </div>
  <input class="govuk-input" id="practitioner-name" name="practitionerName" type="text" spellcheck="false" value="" aria-describedby="Value-hint" inputmode="text">
</div>


<button class="govuk-button" data-module="govuk-button">
Continue
</button>
      </form>
    </div>
  </div>
{% endblock %}
