{% extends "layouts/main.html" %}

{% set serviceName = 'Insolvency Service' %}

{% block pageTitle %}
{{ serviceName }} – {{ data.contactReason }} - Your details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="address" method="post" novalidate>
<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="event-name">
     What is your full name?
    </label>
  </h1>
  <div id="full-name-hint" class="govuk-hint">
    Enter your first name, middle name (if applicable), and last name
  </div>
  <input class="govuk-input" id="full-name" name="full-name" type="text" spellcheck="false" value="" aria-describedby="Value-hint" inputmode="text">
</div>


<button class="govuk-button" data-module="govuk-button">
Continue
</button>
      </form>
    </div>
  </div>
{% endblock %}
