{% extends "layouts/main.html" %}

{% set serviceName = 'Upload redundancy payment forms(RP14/A)' %}

{% block pageTitle %}
  {{ serviceName }} – your form has errors
{% endblock %}


{% block header %}
  {% include "ipservice/ip-upload/v4/_include-one-login-header.html" %}
{% endblock %}



{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{{ data['validationErrors'] }}

   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">Employer details</h1>

  <p class="govuk-body">Your form has passed initial validation.</p>

  <p class="govuk-body">We have matched to the following employer:</p>
  <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Case reference number
    </dt>
    <dd class="govuk-summary-list__value">
     CN1234567
    </dd>
  </div>
    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Employer name
    </dt>
    <dd class="govuk-summary-list__value">
      {% if data.employerName == "No" %}
      Company 2 Ltd
      {% else %}
     Company 1 Ltd
      {% endif %}
    </dd>
  </div>
</dl>

   <form action="/ipservice/ip-upload/v5/employer" method="post" novalidate>
  {{ govukRadios({
  classes: "govuk-radios--inline",
  name: "employerName",
  fieldset: {
    legend: {
      text: "Is this the correct employer name?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "This case reference number you have provided matches with this employer in our system."
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

 



  

  {{ govukButton({
  text: "Continue"
}) }}
</form>

    </div>
{% endblock %}
