{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl">
    The redundancy payment form (RP14/A) has been submitted to dynamics
  </h1>
  <p class="govuk-body">
    Dynamics rejects the form.</p>
  </p>
   <p class="govuk-body">
   The upload service will send a <a href="notification-email.html">notification email with the rejection details</a>.</p>
  </p>
  </div>
</div>
{% endblock %}
