{% extends "layouts/main.html" %}

{% set serviceName = 'Upload redundancy payment forms(RP14/A)' %}

{% block pageTitle %}
  {{ serviceName }} – upload a form
{% endblock %}



{% block header %}
  {% include "ipservice/ip-upload/v4/_include-one-login-header.html" %}
{% endblock %}



{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  
  {% if data['form-validation-errorsV5'] == "yes" %}
<form class="form" action="/ipservice/ip-upload/v5/upload-successV5" method="post">
  {% else %}
<form class="form" action="/ipservice/ip-upload/v5/uploadV5" method="post">
  {% endif %}



<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
  <label class="govuk-label govuk-label--l" for="file-upload-1">
    Upload a file
  </label>
  </h1>
    <div id="event-namew-hint" class="govuk-hint">
The chosen file format must be XML (ending with '.xml'). Other formats such as PDF or XLS are not supported.
  </div>
  <div
    class="govuk-drop-zone"
    data-module="govuk-file-upload">
    <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
  </div>
</div>

<h2 class="govuk-heading-m">Errors during the upload process</h2>
<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
     Common issues when uploading RP14/A forms
    </span>
  </summary>
  <div class="govuk-details__text">
<p class="govuk-body">
Even if you have followed all the steps in the upload instructions, you might see an error message. Using IP software to upload the data will minimise the risk of errors.
</p>
<p class="govuk-body">
Common issues when uploading RP14/A forms:
</p>
<h3 class="govuk-heading-s">
File size
</h3>
<p class="govuk-body">
The file size must be less than 10MB. If your file is bigger than this, you need to separate it into smaller files so it can be uploaded.</p>
<h3 class="govuk-heading-s">
Case and company details
</h3>
<p class="govuk-body">
These can cause delays in processing claims. To avoid this, check that: 
</p>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
<li>the case reference number (CN) is present and correct, and that there are no spaces before or after it. The employer name and case reference must be entered on each line of the spreadsheet</li>  
<li>the case reference number (CN) is present and correct, and that there are no spaces before or after it. The employer name and case reference must be entered on each line of the spreadsheet</li>
<li>the correct Company Registration Number (CRN) is used, check the CRN match
es the case</li>
<li>National Insurance numbers are all valid and correct, as temporary or dummy numbers will not be accepted by the platform</li>
</ul>
<h3 class="govuk-heading-s">
Formatting problems
</h3>
<p class="govuk-body">  
These can include:
</p>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
  <li>
Empty or blank rows at the end of the file. To remove any empty records:
<ol >
  <li>Highlight the blank row.</li>
  <li>Right click.</li>
  <li>Delete the row.</li>
</ol>
</li>
</li>
<li>Too many decimal places. You might need to select each cell individually to make sure figures do not have more than 2 decimal places, as it’s not always visible.

<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
<li>In the RP14, you will need to check the Shareholder percentage field</li>
<li>In the RP14A, you will need to check 1). basic pay per week, 2). arrears of pay owed and 3). number of days holiday owed</li>
<li>Incorrect characters. Only numbers must be put in the numerical fields. If you include any special characters, like £, or any text, the upload will fail.</li>
</ul>
<li>
	Incorrect date entries. Date fields must be formatted as DD/MM/YYYY. If you do not know the date and the field is not mandatory, leave it blank.
</li>
<li>
	Overtyped drop-down data. When entering data into a cell with a drop-down box, you must select one of the options provided using the selector, and don’t overtype.
</li>
<li>
	Ignoring the smart tag. Do not enter any data after the blue smart tag on the spreadsheet, as it will be lost. [
</li>
 </div>
 </details>

<p>If you follow this guidance and your document will still not upload, email us at:</p>

<p class="govuk-body">RPS.Stakeholder@insolvency.gov.uk</p>



  {{ govukButton({
  text: "Continue"
}) }}

</form>


{% endblock %}
