{% extends "layouts/main-forms.html" %}


{% block pageTitle %}
{{ serviceName }} – {{ data.contactReason }} - About your complaint
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% set caseQuestionText = "Is this a " + (data.caseType | lower) + " case?" %}
   <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      <form action="/customer-forms/v2/general-enquiry/caseRefConfirmation" method="post" novalidate>

  <h1 class="govuk-heading-l">Case details</h1>

  <p class="govuk-body">We have matched the type of reference number:</p>
  <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Case reference here
    </dt>
    <dd class="govuk-summary-list__value">
    {{ data.IScaseReferenceYes }}
    </dd>
  </div>
    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
     Type of case
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data.caseType }}
    </dd>
  </div>
</dl>        


{{ govukRadios({
  name: "isTypeCase",
  fieldset: {
    legend: {
      text: caseQuestionText,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No, I need to re enter my reference number",
      text: "No, I need to re enter my reference number"
    }
    
  ]
}) }}


<button class="govuk-button" data-module="govuk-button">
Continue
</button>
      </form>
    </div>
  </div>
{% endblock %}
