{% extends "layouts/main-forms.html" %}


{% block pageTitle %}
{{ serviceName }} – {{ data.contactReason }} - About your complaint
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="upload-guard" method="post" novalidate>
   <h1 class="govuk-heading-l">
Your enquiry
    </h1>

    <p class="govuk-body">Please provide us with as much information as possible to help us deal with your enquiry.</p>


{{ govukCharacterCount({
  name: "enquiryDetail",
  id: "with-hint",
  maxlength: 2000,
  label: {
    text: "Describe your enquiry",
    classes: "govuk-label--m",
    isPageHeading: false
  },
  hint: {
    text: "Do not include personal or financial information like your National Insurance number or credit card details"
  }
}) }}

<button class="govuk-button" data-module="govuk-button">
Continue
</button>
      </form>
    </div>
  </div>
{% endblock %}
