{% extends "layouts/main-forms.html" %}

{% block pageTitle %}
  {{ serviceName }} – {{ data.contactReason }}
{% endblock %}



{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



    <form action="/customer-forms/v2/general-enquiry/generalEnquiries" method="post" novalidate>

      <h1 class="govuk-heading-l">General enquiries</h1>

      <p class="govuk-body">
        Complete this form to contact us about processes we administer or regulate. </p>
<p class="govuk-body">We cannot give you:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>legal or financial advice</li>
  <li>information or advice about other government departments</li>
  <li>information on specific insolvency cases</li>
  <li>information about redundancy payments</li>
</ul>


{% set emailHtml %}
{{ govukInput({
  id: "otherEnquiryType",
  name: "otherEnquiryType",
  type: "text",
  spellcheck:true,
  classes: "govuk-!-width-one-half",
  label: {
    text: "What is your enquiry about?"
  }
}) }}
{% endset -%}



{{ govukRadios({
  name: "generalEnquiry",
  fieldset: {
    legend: {
      text: "What are you complaining about?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Select all options that apply"
  },
  items: [
    {
      value: "redundancy",
      text: "redundancy"
    },
    {
      value: "debt relief order",
      text: "debt relief order"
    },
    {
      value: "bankruptcy",
      text: "bankruptcy"
    },
    {
      value: "company liquidation",
      text: "company liquidation"
    },
    {
      value: "breathing space",
      text: "breathing space"
    },
    {
      value: "other",
      text: "other",
      conditional: {
      html: emailHtml
      }
    },
    {
      divider: "or"
    },
    {
      value: "I want to make  a complaint",
      text: "I want to make a complaint",
      behaviour: "exclusive"
    }
  ]
}) }}


        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
 </div>

 
{% endblock %}
