{% extends "layouts/main.html" %}

{% set serviceName = 'Individual insolvency register' %}

{% set pageName="Case details" %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Case details: Stuart Ronald John Parks</h1>

    <h2 class="govuk-heading-m">Individual details</h2>
    <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key"> Surname </dt>
                                <dd class="govuk-summary-list__value"> Parks </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key"> Forename(s) </dt>
                                <dd class="govuk-summary-list__value"> Stuart Ronald John </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key"> Title </dt>
                                <dd class="govuk-summary-list__value"> Mr </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key"> Gender </dt>
                                <dd class="govuk-summary-list__value"> Male </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key"> Occupation </dt>
                                <dd class="govuk-summary-list__value"> No occupation <figure></figure>ound </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key"> Date of birth </dt>
                                <dd class="govuk-summary-list__value"> 17/09/1981 </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key"> Last known address </dt>
                                <dd class="govuk-summary-list__value"> 44 Bancroft, Tamworth, GBR <br> B77 2ES </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key"> This person may also be known as </dt>
                                <dd class="govuk-summary-list__value"> No other names found </dd>
                            </div>
                        </dl>

 <div class="govuk-inset-text"> The individual details may have changed since the insolvency and therefore might not reflect the person's current address or occupation. </div>                       



    <h2 class="govuk-heading-m">Insolvency case details</h2>
<dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Case name </dt>
            <dd class="govuk-summary-list__value"> Stuart Ronald John Parks </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Type </dt>
            <dd class="govuk-summary-list__value"> Individual Voluntary Arrangement </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Arrangement date </dt>
            <dd class="govuk-summary-list__value">
                01/02/2024
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Status </dt>
            <dd class="govuk-summary-list__value"> Current </dd>
        </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key"> Notification date </dt>
                <dd class="govuk-summary-list__value">
06/03/2024                </dd>
            </div>

    </dl>
<div class="govuk-inset-text"> 
                            Depending on the type of insolvency, information may remain active on the register for a period of up to 3 months following the discharge or notification of completion to the Insolvency Service. <br><br>
                            If you believe that the details provided are inaccurate, please report this using

                            <a class="govuk-link--no-visited-state" href="report-an-error.html">report an error or issue</a>
                            </a>
                        </div>

<h2 class="govuk-heading-m">Insolvency practioner contact details</h2>

<dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key"> Main insolvency practitioner </dt>
                                    <dd class="govuk-summary-list__value"> Racheal Marsh </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key"> Firm </dt>
                                    <dd class="govuk-summary-list__value"> AFA Insolvency </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key"> Address </dt>
                                    <dd class="govuk-summary-list__value">
                                        Suite 6, 4th Floor, Universal Square, Manchester <br>
                                        M12 6JH </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key"> Telephone </dt>
                                    <dd class="govuk-summary-list__value"> 0161 850 1018 </dd>
                                </div>
                            </dl>

<h2 class="govuk-heading-m">Insolvency service contact details</h2>    

<dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key"> Insolvency Service office </dt>
                                <dd class="govuk-summary-list__value"> Personal Insolvency </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key"> Contact </dt>
                                <dd class="govuk-summary-list__value"> Enquiry Desk </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key"> Address </dt>
                                <dd class="govuk-summary-list__value"> The Insolvency Service, Met Office, Fitzroy Road, Exeter </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key"> Postcode </dt>
                                <dd class="govuk-summary-list__value"> EX1 3PB </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key"> Telephone </dt>
                                <dd class="govuk-summary-list__value"> 0300 678 0016 </dd>
                            </div>
                        </dl>


<form action="search-the-individual-insolvency-register" method="post" novalidate>
{{ govukButton({
  text: "Start a new search"
}) }}
</form>
  </div>
</div>

{% endblock %}

{% block footer %}
  {% include "find-an-ip/includes/footer-content.html" %}
{% endblock %}
