{% extends "layouts/main-forms.html" %}

{% if data['anotherCompany'] == "Yes" %}
  {% set outsideUkGuard = 'outsideUkGuard2' %}
{% else %}
  {% set outsideUkGuard = 'outsideUkGuard1' %}
{% endif %}


{% block pageTitle %}
{{ serviceName }} – {{ data.contactReason }} - About your complaint
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data.checkAnswers == 'true' %}
      <form action="../check-your-answers" method="post" novalidate>
      {% else %}
      <form action="company-address" method="post" novalidate>
      {% endif %}

{% set refHtml %}
{{ govukInput({
  id: "outsideUK",
  name: "outsideUK",
  spellcheck: false,
  classes: "govuk-!-width-two-third",
  label: {
    text: "What country was the company incorprated?	
"
  }
}) }}
{% endset -%}

{{ govukRadios({
  name: data.outsideUkGuard | default(outsideUkGuard),
  fieldset: {
    legend: {
      text: "Was the company incorporated outside of the UK?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes",
      conditional: {
        html: refHtml
      }
    },
    {
      value: "No",
      text: "No"
    }
    
  ]
}) }}

<button class="govuk-button" data-module="govuk-button">
Continue
</button>
      </form>
    </div>
  </div>
{% endblock %}
