{% extends "layouts/main-forms.html" %}
{% set serviceName = 'Insolvency Service' %}



{% block pageTitle %}
{{ serviceName }} – {{ data.contactReason }} - Your details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data.checkAnswers == 'true' %}
      <form action="check-your-answers" method="post" novalidate>
      {% else %}
      <form action="company-registered-number" method="post" novalidate>
      {% endif %}  
<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="event-name">
     Whats the name of the company you are complaining about?
    </label>
  </h1>
  <input class="govuk-input" id="company-name" name="company-name" type="text" spellcheck="false" value="{{ data['company-name'] }}" aria-describedby="Value-hint" inputmode="text">
</div>


<button class="govuk-button" data-module="govuk-button">
Continue
</button>
      </form>
    </div>
  </div>
{% endblock %}
