{% extends "layouts/main-forms.html" %}
{% set serviceName = 'Insolvency Service' %}



{% block pageTitle %}
{{ serviceName }} – {{ data.contactReason }} - Your details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data.checkAnswers == 'true' %}
      <form action="check-your-answers" method="post" novalidate>
      {% else %}
      <form action="question" method="post" novalidate>
      {% endif %}  
<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="event-name">
    How much money did you lose and when? (optional)
    </label>
  </h1>
 <textarea class="govuk-textarea" id="financialLossAmount" name="financialLossAmount" rows="5" aria-describedby="financialLossAmount-hint">{{ data['financialLossAmount'] }}</textarea>
</div>


<button class="govuk-button" data-module="govuk-button">
Continue
</button>
      </form>
    </div>
  </div>
{% endblock %}
