{% extends "layouts/main-forms.html" %}

{% block pageTitle %}
{{ serviceName }} – {{ data.contactReason }} - About your complaint
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="company-list" method="post" novalidate>

<div class="govuk-form-group">
<h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="more-detail">
     Can you give more detail about your complaint against the company?
    </label>
</h1>
  <textarea class="govuk-textarea" id="companyComplaintDetails" name="companyComplaintDetails" rows="8" aria-describedby="companyComplaintDetails-hint">{{ data['companyComplaintDetails'] }}</textarea>
</div>

<button class="govuk-button" data-module="govuk-button">
Continue
</button>
      </form>
    </div>
  </div>
{% endblock %}
