{% extends "layouts/main-forms.html" %}

{% block pageTitle %}
  {{ serviceName }} – {{ data.contactReason }}
{% endblock %}



{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



    <form action="complaintType" method="post" novalidate>

      <h1 class="govuk-heading-l"> Complain about a disqualified director, an individual subject to restrictions or a company using a prohibited name</h1>
<p class="govuk-body">
Use this form to make a complaint to Investigations and Enforcement Services about a failure to comply with a company obligation.
</p>
<p class="govuk-body">
Complain about:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>a disqualified director</li>
  <li>an individual subject to restrictions</li>
  <li>a company using a prohibited name</li>
</ul>



{{ govukCheckboxes({
  name: "complaint",
  fieldset: {
    legend: {
      text: "What are you complaining about?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Select all options that apply"
  },
  items: [
    {
      value: "a disqualified director acting in the management of a company",
      text: "a disqualified director acting in the management of a company"
    },
    {
      value: "an individual for acting in the management of a company whilst subject to bankruptcy or Debt Relief restrictions",
      text: "an individual for acting in the management of a company whilst subject to bankruptcy or Debt Relief restrictions"
    },
    {
      value: "a company or business using a prohibited name",
      text: "a company or business using a prohibited name"
    },
    {
      divider: "or"
    },
    {
      value: "my complaint is not listed",
      text: "my complaint is not listed",
      behaviour: "exclusive"
    }
  ]
}) }}


        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
 </div>

 
{% endblock %}
