{% extends "layouts/main.html" %}

{% set serviceName = 'Upload redundancy payment forms(RP14/A)' %}

{% block pageTitle %}
{{ serviceName }} – check your answers
{% endblock %}

{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% block header %}
{{ govukHeader() }}
{{ govukServiceNavigation({
serviceName: 'Upload redundancy payment forms(RP14/A)',
serviceUrl: "start.html"
}) }}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Employee title</h1>

    <p class="govuk-body">The title was missing for these employees:</p>
    <ul class="govuk-list">
      <li>John Smith</li>
      <li>Jane Doe</li>
      <li>Bob Smith</li>
      <li>Alice Doe</li>  
    </ul>

</div>
  </div>
  {% endblock %}