{% extends "layouts/main.html" %}

{% set serviceName = 'Upload redundancy payment forms(RP14/A)' %}

{% block pageTitle %}
  Page not found - {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{% endblock %}



{% block content %}
 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Accessibility statement</h1>
      
      <p class="govuk-body">This accessibility statement applies to the upload redundancy payment forms(RP14/A) website.</p>

      <p class="govuk-body">We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>change colours, contrast levels and fonts using browser or device settings</li>
        <li>zoom in up to 400% without the text spilling off the screen</li>
        <li>navigate the website using a keyboard or speech recognition software</li>
        <li>Use a screen reader to do everything on the website (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
        <li>understand the content because we have written it as clearly and simply as possible</li>
      </ul>

      <p class="govuk-body">AbilityNet has advice on <a href="https://www.abilitynet.org.uk/">making your device easier to use</a> if you have a disability.</p>


<h2 class="govuk-heading-m">Reporting accessibility problems with this website</h2>

<p>We're always looking to improve the accessibility of this website. If you find any problems or think we're not meeting accessibility requirements, contact the Insolvency Service.</p>


      <h2 class="govuk-heading-m">Feedback and contact information</h2>
      <p class="govuk-body">If you need help completing this service, you can contact us:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>using our <a href="https://www.insolvencydirect.bis.gov.uk/externalonlineforms/GeneralEnquiry.aspx" >general enquiry form</a> – we'll respond within 5 working days </li>
  <li>by calling the Insolvency Service helpline</li>
</ul>


<h3 class="govuk-heading-s">The Insolvency Service helpline</h3>
<ul class="govuk-list">
  <li>Telephone: 0300 678 0015</li>
  <li>Monday to Thursday, 9am to 5pm</li>
  <li>Friday, 9am to 3pm</li>
  </ul>

<p><a href="https://www.gov.uk/call-charges" >Find out about call charges</a></p>


<h2 class="govuk-heading-m">Enforcement procedure</h2>
<p>The Equality and Human Rights Commission is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 in England, Scotland and Wales.</p>

<p>If you are not satisfied with how we respond to your complaint, you can contact the Equality Advisory and Support Service, <a href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.</p>


<h2 class="govuk-heading-m">Technical information about this website's accessibility</h2>
<p>The Insolvency Service is committed to making this website accessible, in accordance with <a href="https://www.legislation.gov.uk/uksi/2018/852/contents/made">The Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018</a>.</p>

<h2 class="govuk-heading-m">Compliance status</h2>
<p>The website has been tested against the Web Content Accessibility Guidelines (WCAG) 2.2 AA standard.</p>
<p>This website is fully compliant with the <a href="https://www.w3.org/TR/WCAG22/">Web Content Accessibility Guidelines version 2.2 AA standard</a>.

  <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>

<p>This statement was prepared on 10 October 2026. </p>
<p>This website was tested in September 2026 against the WCAG 2.2 AA standard. The whole website was tested, the test was carried out by our internal testing team.</p>
<p>This website will be tested in November 2026 and this will be carried out by the Digital Accessibility Centre (DAC).</p>   
<p>Last updated 10  October 2026</p>
</div>
  </div>
  
{% endblock %}
