{% extends "layouts/main.html" %}

{% set serviceName = 'Upload redundancy payment forms(RP14/A)' %}

{% block pageTitle %}
  Declaration - {{ serviceName }} 
{% endblock %}

{% block header %}
  {% include "ipservice/ip-upload/v4/_include-one-login-header.html" %}
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}
   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">Declaration</h1>
<p class="govuk-body">
This information is required under Section 187(1) of the Employment Rights Act 1996.
</p>
<p class="govuk-body">
  <a href="https://www.legislation.gov.uk/ukpga/1996/18/section/187" class="govuk-link" rel="noreferrer noopener" target="_blank">Section 187(1) (opens in new tab)</a>
</p>

<p class="govuk-body">I am the relevant officer* who has been appointed in connection with the employer’s insolvency, and I declare to the best of my knowledge and belief:</p>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
 <li>That in completing the required forms and submitting this statement, I am listing the amount of that debt which appears to have been owed to an employee on the appropriate date, and which appears to remain unpaid. In particular, I have checked whether the claimants were on the payroll and appear entitled to make a claim. </li> 
</ul>

<p class="govuk-body">I also confirm that:</p>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
 <li>Should I become aware of any changes to the information already submitted, I will immediately inform the Redundancy Payments Service in writing on a new RP14/RP14A. </li>
 <li>Should I come to believe that there is relevant information, not provided for within the RP14/RP14A that may impact the claims, I will immediately inform the Redundancy Payments Service in writing to: <br>RPS.Stakeholder@insolvency.gov.uk </li>
 <li>I am aware that the RPS reserves the right to conduct an assessment of compliance and, in the process, may request relevant records or other documents for review under Section 190(1)(b) of the Employment Rights Act 1996.  </li>
</ul>
<p class="govuk-body">  
*Administrator, Liquidator, Trustee, Interim Trustee, Receiver or Manager</p>
</p>
  {{ govukButton({
  text: "Agree and continue",
  href: "case-reference-number.html"
}) }}

    </div>
{% endblock %}
