{% extends "layouts/main.html" %}

{% set serviceName = 'Upload redundancy payment forms(RP14/A)' %}

{% block pageTitle %}
  Page not found - {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{% endblock %}



{% block content %}
 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Privacy policy</h1>
        <p class="govuk-body">
          The upload redundancy payment forms(RP14/A) website is covered by the Insolvency Service's <a href="https://www.gov.uk/government/organisations/insolvency-service/about/personal-information-charter">personal information charter (or privacy policy)</a>. It tells you:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>what standards you can expect from us</li>
          <li>how we use your personal information</li>
          <li>what rights and responsibilities you have</li>
          </ul>

          <h2 class="govuk-heading-m">Cookies</h2>
          <p class="govuk-body">We sometimes put small files (known as 'cookies') onto your computer to collect information about how you browse the site. They cannot be used to identify you personally.</p>
          <p class="govuk-body">
We use cookies to help us:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>remember your device and any information you give us</li>
          <li>measure how you use our services so we can update and improve them based on your needs</li>
        </ul>

        <ul class="govuk-list govuk-list--bullet">
          <li><a href="cookies">How the upload redundancy payment forms(RP14/A) website uses cookies</a></li>
          <li><a href="https://www.gov.uk/help/cookies">More about cookies on GOV.UK</a></li>
        </ul>
    </div>
  </div>
  
{% endblock %}
