{% extends "layouts/main.html" %}

{% set serviceName = 'Insolvency Service' %}

{% block pageTitle %}
  {{ serviceName }} – {{ data.contactReason }}
{% endblock %}



{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



    <form action="../name" method="post" novalidate>

      <h1 class="govuk-heading-l">Complain about the Insolvency Service {{ data['organisation'] }}</h1>
<p class="govuk-body">  
We're sorry you feel the need to complain.
</p>
<p class="govuk-body">  
Before completing this form, you should read our <a href="https://www.gov.uk/government/organisations/insolvency-service/about/complaints-procedure" target="_blank">complaints guidance (opens in a new tab)</a> which sets out how our complaints process works and what you can expect from us.
</p>
<p class="govuk-body">
We can look at complaints where you feel that we've failed to provide our usual standard of service.Our complaints process cannot be used to re-examine a decision about your case, unless there is evidence that we have not followed the correct processes, policies or legislation. 
</p>
<p class="govuk-body">
Where we think this is the case, we will contact you and we may not progress your complaint any further.If your complaint is about a private sector insolvency practitioner, visit the <a href="https://www.ipcomplaintsGateway.org" target="_blank">IP Complaints Gateway(opens in a new tab)</a>.</p>

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>

 
{% endblock %}
