{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ serviceName }}</h1>

      <h2 class="govuk-heading-m">Prototypes</h2>

      {% set completedStatus = {
        text: "Completed"
      } %}

      {% set incompleteStatus = {
        tag: {
          text: "Incomplete",
          classes: "govuk-tag--blue"
        }
      } %}

      {# To switch between the completed and incomplete statues, use some inline logic within the component below, like this: "status: (completedStatus if ... else incompleteStatus)" #}

      {{ govukTaskList({
        idPrefix: "first-section",
        items: [
     {
      title: {
        text: "Upload redundancy payments forms(RP14/A)"
      },
      href: "/ipservice/ip-upload/index.html",
      status: {
        tag: {
          text: "In progress",
          classes: "govuk-tag--light-blue"
        }
      }
    },{
      title: {
        text: "Director's conduct report service(DCRS)"
      },
      href: "#",
      status: {
        tag: {
          text: "Not yet started",
          classes: "govuk-tag--blue"
        }
      }
    },{
      title: {
        text: "Dept relief order(DRO)"
      },
      href: "#",
      status: {
        tag: {
          text: "Not yet started",
          classes: "govuk-tag--blue"
        }
      }
    },{
      title: {
        text: "Bankruptcy"
      },
      href: "#",
      status: {
        tag: {
          text: "Not yet started",
          classes: "govuk-tag--blue"
        }
      }
    }
        ]
      }) }}

   
         <p class="govuk-body"><a href="manage-prototype">Manage prototype</a></p>

  </div>
</div>

{% endblock %}
