{% extends "layouts/main.html" %}

{% set serviceName = 'Upload redundancy payment forms(RP14/A)' %}

{% block pageTitle %}
  {{ serviceName }} – homepage
{% endblock %}

{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% block header %}
  {{ govukHeader() }}
{{ govukServiceNavigation({
  serviceName: 'Upload redundancy payment forms(RP14/A)',
  serviceUrl: "start.html"
}) }}
{% endblock %}

{% block content %}
   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">{{ serviceName }}</h1>

 <!-- {% set html %}
  <p class="govuk-notification-banner__heading">
    You have 3 rejected forms. <br>
    <a class="govuk-notification-banner__link" href="#">View rejected forms</a>
  </p>
{% endset %} 

{{ govukNotificationBanner({
  html: html
}) }} -->

<!-- <p class="">Only licensed insolvency practioners should upload redundancy payment forms(RP14/A)</p>-->

<h2 class="govuk-heading-m">
  Declaration
</h2>
<p class="govuk-body">
This information is required under Section 187(1) of the Employment Rights Act 1996.
</p>
<p class="govuk-body"><a href="https://www.legislation.gov.uk/ukpga/1996/18/section/187">Section 187(1)</a></p>


<h3 class="govuk-heading-s">I declare that:</h3>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
 <li>I am the relevant officer who has been appointed in connection with the employer’s insolvency, and in completing the required forms and submitting this statement, I am confirming the amount of that debt which appears to have been owed to an employee on the appropriate date, and which appears to remain unpaid. </li> 

<li>I have acted in accordance with the professional standards governing insolvency practice and money laundering regulations, and I am aware of my general obligations to creditors in accordance with the Statements of Insolvency Practice and the Insolvency Code of Ethics.</li>
  
<li>The information I have submitted is correct and accurate to the best of my knowledge and belief.  </li>

<li>I have confirmed claimants were on the payroll and are entitled to make a claim. </li>

<li>Should I become aware of any changes to the information already submitted, I will immediately inform the Redundancy Payments Service in writing on a new RP14/RP14A. </li>
<li>Should I believe that there is relevant information, not provided for within the RP14/RP14A that may impact the claims, I will immediately inform the Redundancy Payments Service in writing to: <br><br>RPS.Stakeholder@insolvency.gov.uk </li>
<li>I am aware that the RPS reserves the right to conduct an assessment of compliance and, in the process, may request relevant records or other documents for review under Section 190(1)(b) of the Employment Rights Act 1996.  </li>

</ul>

  {{ govukButton({
  text: "Agree and continue",
  href: "upload.html"
}) }}

    </div>
{% endblock %}
