{% extends "layouts/main.html" %}

{% set serviceName = 'Insolvency practitioner service' %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – Name
{% endblock %}


{% block header %}
  {{ govukHeader() }}
{{ govukServiceNavigation({
  serviceName: 'Insolvency practitioner service',
  serviceUrl: "/ipservice/start.html",
  navigation: [
    {
      href: "/ipservice/home.html",
      text: "Home"
    },
    {
      href: "settings",
      text: "Settings"
    }
  ]
}) }}
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}
   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-l">Manage service managers</h1>

  <p class="govuk-body">This option allows you to create service managers who are able to view, access and update all of your cases. Service Managers are not able to submit conduct reports but are able to add and remove other staff from the system.</p>

  
  <div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="email">
    Email address
  </label>
  <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
</div>

  
  
  <ul class="govuk-list">
    <li><p class="govuk-body"><a href="change-password.html">Change password</p></li>
    <li><p class="govuk-body"><a href="manage-service-managers.html">Manage service managers</p></li>
    <li><p class="govuk-body"><a href="manage-staff.html">Manage staff</p></li>  
  </ul>


</div>

    </div>

{% endblock %}
