{% extends "layouts/main.html" %}

{% set serviceName = 'Insolvency practitioner service' %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – Name
{% endblock %}


{% block header %}
  {{ govukHeader() }}
{{ govukServiceNavigation({
  serviceName: 'Insolvency practitioner service',
  serviceUrl: "/ipservice/start.html"
 
}) }}
{% endblock %}


{% block content %}
   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-l">We've sent you an email.</h1>
  

<p class="govuk-body">Thank you for resetting your password. A new temporary password has been sent to the email address you signed up with.</p>

<p class="govuk-body"><a href="sign-in.html">Go to sign in page</a></p>

</div>

    </div>

{% endblock %}
