{% extends "layouts/main-forms.html" %}
{% set serviceName = 'Insolvency Service' %}



{% block pageTitle %}
{{ serviceName }} – {{ data.contactReason }} - Your details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="financial-loss" method="post" novalidate>
 
<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="event-name">
     Who have you dealt with at the company and what were their roles? (optional)
    </label>
  </h1>
 <textarea class="govuk-textarea" id="companyContacts" name="companyContacts" rows="5" aria-describedby="companyContacts-hint">{{ data['companyContacts'] }}</textarea>
</div>


<button class="govuk-button" data-module="govuk-button">
Continue
</button>
      </form>
    </div>
  </div>
{% endblock %}
