{% extends "layouts/main.html" %}

{% set serviceName = 'Insolvency Service' %}

{% block pageTitle %}
 {{ serviceName }} – {{ data.contactReason }} - upload a form
{% endblock %}



{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
   <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
<h1 class="govuk-heading-l">Companies</h1>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Company 1
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data.companyName1 | default("123 LTD") }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="company-name.html">Change<span class="govuk-visually-hidden"> company</span></a> |
      <a class="govuk-link" href="remove-company">Remove<span class="govuk-visually-hidden"> company</span></a>
    </dd>
  </div>
    {% if data.companyName2 %}
      <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Company 2
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data.companyName2 | default("456 LTD") }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="company-name.html">Change<span class="govuk-visually-hidden"> company</span></a> |
      <a class="govuk-link" href="remove-company">Remove<span class="govuk-visually-hidden"> company</span></a>
    </dd>
  </div>
  {% endif %}
  </dl>

<form class="form" action="/customer-forms/v1/company-complaint/addAnotherCompany" method="post">


{{ govukRadios({
  classes: "govuk-radios--inline",
  name: "anotherCompany",
  fieldset: {
    legend: {
      text: "Do you want to add another company?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

  {{ govukButton({
  text: "Continue"
}) }}

</form>


{% endblock %}
