{% extends "layouts/main-forms.html" %}

{% block pageTitle %}
{{ serviceName }} – {{ data.contactReason }} - Your details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form action="other-addresses" method="post" novalidate>


<div class="govuk-form-group">
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="email">
        What is the company's website address? (optional)
      </label>
    </h1>
  <input class="govuk-input" id="companyWebsite" name="companyWebsite" type="url" value="{{ data['companyWebsite']}}" spellcheck="false" aria-describedby="website-hint" autocomplete="url">
</div>


<button class="govuk-button" data-module="govuk-button">
Continue
</button>
      </form>
    </div>
  </div>
{% endblock %}
