{% extends "layouts/main-forms.html" %}

{% block pageTitle %}
{{ serviceName }} – {{ data.contactReason }} - About your complaint
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="linked-company-guard" method="post" novalidate>
        <h1 class="govuk-heading-l">Your complaint</h1>

        <p class="govuk-body">Provide a brief description of your complaint, if we require any further details in order to assess your complaint we will contact you.
</p>

<div class="govuk-form-group">

    <label class="govuk-label govuk-label--m" for="more-detail">
    Describe your complaint
    </label>

  <textarea class="govuk-textarea" id="companyComplaintDetails" name="companyComplaintDetails" rows="8" aria-describedby="companyComplaintDetails-hint">{{ data['companyComplaintDetails'] }}</textarea>
</div>

<button class="govuk-button" data-module="govuk-button">
Continue
</button>
      </form>
    </div>
  </div>
{% endblock %}
