{% extends "layouts/main-forms.html" %}

{% block pageTitle %}
  {{ serviceName }} – {{ data.contactReason }}
{% endblock %}



{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



    <form action="complaintType" method="post" novalidate>

      <h1 class="govuk-heading-l">Complain about a limited company</h1>


<p class="govuk-body">Use this form to make a complaint about a limited company</p>


{{ govukCheckboxes({
  name: "complaint",
  fieldset: {
    legend: {
      text: "What are you complaining about?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Select all options that apply"
  },
  items: [
    {
      value: "causing significant harm to customers, suppliers or other parties",
      text: "causing significant harm to customers, suppliers or other parties"
    },
    {
      value: "breaking the law, for example fraud",
      text: "breaking the law, for example fraud"
    },
    {
      value: "serious misconduct, for example company assets not being used properly",
      text: "serious misconduct, for example company assets not being used properly"
    },
    {
      value: "having significant irregularity in its affairs",
      text: "having significant irregularity in its affairs"
    },
    {
      divider: "or"
    },
    {
      value: "my complaint is not listed",
      text: "my complaint is not listed",
      behaviour: "exclusive"
    }
  ]
}) }}


        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
 </div>

 
{% endblock %}
