{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% block header %}
 

  {{ govukHeader() }}
{{ govukServiceNavigation({
  serviceName: serviceName,
  serviceUrl: "start.html"
}) }}


    {% block headerEnd %}
    <div class="govuk-width-container">
  {{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/DirectorConductReportingService/" rel="noreferrer noopener" target="_blank">give your feedback (opens in new tab)</a>.'
}) }}
    </div>
    {% endblock %}
{% endblock %}


{% block footer %}
  

{% block footerStart %}
<div class="govuk-width-container">
  
{% include "ipservice/ip-upload/v3/_include-feedback.html" %}

</div>

  {% endblock %}
 
{{ govukFooter({
  meta: {
    items: [
      {
        href: "https://www.gov.uk/insolvency-service/personal-information-charter",
        text: "Privacy"
      },
      {
        href: "https://preprod.ui.report-director-conduct.service.gov.uk/cookies",
        text: "Cookies"
      },
      {
        href: "https://preprod.ui.report-director-conduct.service.gov.uk/users/contact-us",
        text: "Contact us"
      }
    ]
  }
}) }}
  {% endblock %}




