{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% block header %}


 
  {{ govukHeader ({
    homepageUrl: "/"
  }) }}

  {% if data.contactReason == "Complain about the Insolvency Service" %}
{{ govukServiceNavigation({
  serviceName: 'Complain about the Insolvency Service',
  serviceUrl: '/customer-forms/v1/is-complaint/start.html'
}) }}

{% elif data.contactReason == "General enquiry" %}
{{ govukServiceNavigation({
  serviceName: 'General enquiry',
  serviceUrl: '/customer-forms/v1/general-enquiry/start.html'
}) }}
{% elif data.contactReason == "Complain about an insolvency practitioner" %}
{{ govukServiceNavigation({
  serviceName: ' Complain about an Insolvency Practitioner',
  serviceUrl: '/customer-forms/v1/ip-complaint/start.html'
}) }}

{% elif data.contactReason == "Company complaints form" %}
{{ govukServiceNavigation({
  serviceName: 'Company complaints form',
  serviceUrl: '/customer-forms/v1/company-complaint/start.html'
}) }}
{% elif data.contactReason == "Investigations and enforcement services breach questionnaire" %}
{{ govukServiceNavigation({
  serviceName: 'Investigations and Enforcement Services Breach Questionnaire',
  serviceUrl: '/customer-forms/v1/ies-breach/start.html'
}) }}
{% endif %}






    {% block headerEnd %}
    <div class="govuk-width-container">
  {{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/DirectorConductReportingService/" rel="noreferrer noopener" target="_blank">give your feedback (opens in new tab)</a>.'
}) }}
    </div>
    {% endblock %}
{% endblock %}


{% block footer %}
  

{% block footerStart %}
<!-- <div class="govuk-width-container">
  
{% include "ipservice/ip-upload/v3/_include-feedback.html" %} 

</div> -->

  {% endblock %}
 
{{ govukFooter({
  meta: {
    items: [
      {
        href: "https://www.gov.uk/insolvency-service/personal-information-charter",
        text: "Privacy"
      },
      {
        href: "https://preprod.ui.report-director-conduct.service.gov.uk/cookies",
        text: "Cookies"
      },
      {
        href: "https://preprod.ui.report-director-conduct.service.gov.uk/users/contact-us",
        text: "Contact us"
      }
    ]
  }
}) }}
  {% endblock %}




